<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass and Leave Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pass_leave.css')}}">
</head>
<body>
    <div class="background-welcome">
        <div class="container-welcome">
            <div class="welcome-card">
                <div class="welcome-logo">
                    <img src="{{ url_for('static', filename='images/dsa_logo.png') }}" width="150px" alt="dsa Logo">
                </div>
                <h1 class="welcome-tag">Staff and Personnel Pass/Leave Management System</h1>
                <a href="apply_id">
                    <button class="continue-btn">Continue</button>
                </a>
            </div>
            <footer class="welcome-footer">
                <p>© 2025 DCS Software Team</p>
            </footer>
        </div>

    </div>
</body>

</html>